body { padding: 0; margin: 0; background-color: #666; color: #000; }

#contents { margin-top: 10px; margin-bottom: 10px; margin-left: 15%;
margin-right: 15%; padding: 10px; background-color: #FFF; color: #000; }

h2 { color: #333; background-color: transparent; font-family: Arial,
Helvetica, sans-serif; font-size: 20px; }

p { color: #333; background-color: transparent; font-family: Arial, Helvetica,
sans-serif; font-size: 0.8em; }

.code { color: #339; background-color: transparent; font-family: times, serif;
font-size: 0.9em; padding-left: 40px; }

form {
  font:100% verdana,arial,sans-serif;
  margin: 0;
  padding: 0;
  min-width: 500px;
  max-width: 600px;
  width: 560px; 
}

form fieldset {
  border-color: #000;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  margin: 0;
}

form fieldset legend {
	font-size:1.1em;
}

form label { 
	display: block;
	float: left; 
	width: 150px; 
	padding: 0; 
	margin: 5px 0 0;
	text-align: right; 
}

form input, form textarea {
	/* display: inline; inline display must not be set or will hide submit buttons in IE 5x mac */
	width:auto;      /* set width of form elements to auto-size, otherwise watch for wrap on resize */
	margin:5px 0 0 10px; /* set margin on left of form elements rather than right of
                              label aligns textarea better in IE */
}

form input#reset {
	margin-left:0px; /* set margin-left back to zero on reset button (set above) */
}

textarea { overflow: auto; }

form small {
	display: block;
	margin: 0 0 5px 160px; /* instructions/comments left margin set to align w/ right column inputs */
	padding: 1px 3px;
	font-size: 88%;
}

form .required{font-weight:bold;} /* uses class instead of div, more efficient */

form br {
	clear:left; /* setting clear on inputs didn't work consistently, so brs added for degrade */
}